include ./layouts/header.jade
div.container-fluid.page-wrap
	div.row
		div.col-md-3
		div.col-md-6
			h1.Title!= message
	div.row
		div.col-md-3
		div.col-md-6
			table(border='1').table
				thead
					tr
						th #ID
						th title
						th text
						th thumbnail
						th client
				tbody(id="ads_listing_tbl")
					each adsone, i in adsList
						tr
							td= adsone.ads_id
							td= adsone.title
							td= adsone.text
							td= adsone.thumbnail
							td= adsone.client
						
	div.row
		div.col-md-4
		div.col-md-4
			div.row
				div.col-md-3.col-md-offset-1
					a(href="/manageAds") Create
				div.col-md-3.col-md-offset-1
					input(type="button", value="Edit", id="ads_batch_edit")
				div.col-md-3.col-md-offset-1
					input(type="button", value="Delete", id="ads_batch_del")

	div(id="dialog_ads" style="display:none")
		p Do you want to delete really?

	form(name="editAds", action="editAds", method="post", style="display:none", id="editAds_submit")
		input(type="hidden", name="ads_edit_id", value="0", id="ads_edit_id_ads")
		input(type="text", name="title", value="", id="title_ads")
		input(type="text", name="text", value="", id="text_ads")
		input(type="text", name="thumbnail", value="", id="thumbnail_ads")
		input(type="text", name="client", value="", id="client_ads")
		input(type="submit" value="Edit")
	
              
include ./layouts/footer.jade

script(src="/js/pageCtrl/ads_listing_in.js")